.navButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 10vh;
  height: 3rem;
  width: 2rem;
  box-shadow: 0 0 10px black;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 1.5rem;
  background: #dddddd99;
  z-index: 15;
  transition: ease-in-out 500ms;
  transition: width ease-in-out 250ms;
}

.navButton:hover {
  width: 27.5rem;
  transform: scaleY(1.1);
  background: #eaeaeaaa;
  transition: ease-in-out 500ms;
  transition: width ease-in-out 250ms;
}

.navMenu {
  position: absolute;
  display: inherit;
  list-style: none;
}

.navOption {
  font-size: 2rem;
  height: 3rem;
  margin: 0 0.25rem;
  padding: 0 0.5rem;
}

.navOption:hover {
  cursor: pointer;
  background: #eeeeeebb;
  border-radius: 0.25rem;
}

.navIcon {
  font-weight: bolder;
  font-size: 75%;
  flex: 1;
  transform: rotate(-90deg);
}

@media screen and (max-width: 768px) {
  .navButton {
    display: none;
  }
}