.navMenu {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  width: 70vw;
  justify-content: space-around;
  /* align-items: flex-end; */
  list-style: none;
}

.navButton {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inherit;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  background-color: #ffffffbb;
  border-bottom: none;
  border-top: 1px solid black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: ease-in-out 250ms;
}

.navButton:hover {
  cursor: pointer;
  background-image: linear-gradient(to top, #ffffff00, #ffffff77, #bbbbbbbb, #777777bb);
  border-top: 10px solid black;
  font-weight: bolder;
  transition: ease-in-out 250ms;
}