.pictureContainer {
  display: none;
  top: 2vh;
  right: 1vw;
  width: 15vw;
  min-width: 150px;
  border: none;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
}

.picture {
  border-radius: 50%;
}