.mainTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 75vw;
  border-radius: 3px;
  box-shadow: 0 10px 10px #555555bb;
  background-color: #ffffffbb;
}