.mainTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 75vw;
  border-width: 1px;
  border-style: solid;
  border-top: none;
  border-image: linear-gradient(to right, #00000000, #000000c0, #00000000) 1;
  /* background-image: linear-gradient(to right, #00000000, #ffffff60, #ffffffad, #ffffffb9, #ffffffad, #ffffff60, #00000000); */
  background-color: #ffffffbb;
}